.profile-pic {
    width: 100px;
    display: inline-block;
    vertical-align: middle;
    padding-right: 20px;
}

.box-element {
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;
    background-color: #fff;
}

.person-info {
    display: inline-block;
    vertical-align: middle;
    align-items: center;
}

.toggle-button {
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 25px;
}

.data-img {
    width: 150px;
    padding: 10px;
}

.my-nav {
    margin-top: 10px;
}

.data-block {
    margin-top: 30px;
    background-color: #cde2ef;
}

.data-block-scores {
    margin-top: 30px;
    background-color: #cde2ef;
}

.data-block-interests {
    margin-top: 30px;
    background-color: #cde2ef;
}

h4 {
    color: #4e342d;
    font-family: 'Gill Sans', 'Gill Sans MT', sans-serif;
}

h5 {
    color: #4e342d;
    font-family: 'Gill Sans', 'Gill Sans MT', sans-serif;
}

h5 strong {
    color: #4e342d;
}