.profile-pic {
    width: 100px;
}

.box-element {
    /*border: 1px solid #e6e6e6;*/
    padding: 10px;
    align-items: center;
    background-color: #fff;
}

.toggle-button {
    justify-content: center;
}

.data-img {
    width: 150px;
    padding: 20px;
}

.data-block {
    margin-top: 30px;
    background-color: #9ed0e7;
}

h4 {
    color: #4e342d;
    font-family: 'Gill Sans', 'Gill Sans MT', sans-serif;
}

h5 {
    color: #4e342d;
    font-family: 'Gill Sans', 'Gill Sans MT', sans-serif;
}

h5 strong {
    color: #4e342d;
}